*
    box-sizing: border-box
body
    font-family: 'Open Sans', serif
    background-color: $primary
    color: $text-color
    margin: 0
.container
    max-width: 1140px
    margin: auto
img
    max-width: 100%
.button
    cursor: pointer
a
    text-decoration: none
    cursor: pointer
