*
    box-sizing: border-box
body
    font-family: 'Open Sans', serif
    background-color: $primary
    color: $text-color
    margin: 0
.container
    max-width: 1140px
    margin: auto
img
    max-width: 100%
.button
    cursor: pointer
.button:hover
    background-color: $color-button
    color: $primary
button:hover
    background: $color-button
    color: $primary
a
    text-decoration: none
    cursor: pointer
a:hover
    color: $color-button
a:active
    color: $text-color
.slick
    &-prev:hover
        background: url(../img/prev-slick.svg)
        cursor: pointer
        background-repeat: no-repeat
        background-color: transparent
        left: 88.2%
        transform: translate(0, -200%) rotate(180deg)
    &-next:hover
        background: url(../img/prev-slick.svg)
        cursor: pointer
        background-repeat: no-repeat
        background-color: transparent
        left: 95.3%
        transform: translate(0, -200%)
