.navbar
  margin-left: 147px
  margin-right: 152.9px
  &-menu
    margin: 0
    padding: 37px 0 95px 0
    display: flex
    justify-content: space-between
    align-items: center
    &__right
      min-width: 463px
      display: flex
      align-items: center
      justify-content: space-between
  &__links
    min-width: 252px
    margin: 0
    padding: 0
    display: flex
    justify-content: space-between
    list-style-type: none
    text-decoration: none
    font-style: normal
    font-weight: 600
    font-size: 16px
    line-height: 22px
  &__button
    border: 2px solid $primary-button
    color: $primary-button
    min-width: 148px
    padding: 11px 0px
    background: none
    font-style: normal
    font-weight: bold
    font-size: 16px
    line-height: 22px
