.recommendations
    padding-top: 58px
    padding-bottom: 20px
.advice
    max-width: 760px
    margin-right: 25px
    &__button
        font-family: Roboto Condensed
        font-style: normal
        font-weight: bold
        font-size: 16px
        line-height: 20px
        text-align: center
        letter-spacing: 0.2px
        padding-top: 26px
        padding-bottom: 27px
        color: $color-button
        background-color: #e9f0fb
        width: 99%
        border: none
        border-radius: 8px
        text-transform: uppercase
        cursor: pointer
    &__title
        font-family: Roboto Condensed
        font-style: normal
        font-weight: bold
        font-size: 32px
        line-height: 40px
        letter-spacing: 0.2px
        margin-bottom: 30px
        margin-top: 0
    &-wrapper
        display: flex
        flex-wrap: wrap
        gap: 32px
        margin-bottom: 29px
.card
    display: flex
    align-items: center
    padding: 9px 15px 7px 10px
    border: 1px solid #ECEEF2
    border-radius: 8px
    &__image
        margin-right: 20px
    &__book
        object-fit: cover
        object-position: top center
        width: 160px
        height: 238px
        border-radius: 8px
        &--abstract
            object-fit: cover
            object-position: center center
        &--blue
            margin-top: 1px
        &--there
            margin-left: -0.5px
    &-info
        width: 152px
        display: flex
        flex-direction: column
        &__title
            font-family: Roboto
            font-style: normal
            font-weight: 500
            font-size: 22px
            line-height: 32px
            letter-spacing: 0.2px
            margin: 0
            margin-bottom: 16px
            &--abstract
                margin-top: -4px
            &--memoir
                margin-top: -2px
            &--blue
                margin-top: -4px
        &__about
            font-style: normal
            font-weight: normal
            font-size: 16px
            line-height: 22px
            margin-bottom: 24px
            display: inline-block
            &--memoir
                margin-bottom: 21px
        &__price
            font-family: Roboto Condensed
            font-style: normal
            font-weight: bold
            font-size: 20px
            line-height: 24px
            letter-spacing: 0.2px
            color: $color-button
            margin-bottom: 24px
            display: inline-block
            &--abstract
                margin-bottom: 20px
            &--blue
                margin-bottom: 24px
        &__button
            display: flex
            align-items: center
        &__pay
            font-style: normal
            font-weight: bold
            font-size: 16px
            line-height: 22px
            text-align: center
            background: $text-color
            color: $primary
            border-radius: 2000px
            border: none
            padding: 7px 20px
            margin-right: 22px
            cursor: pointer
            &--abstract
                padding: 7px 21px 7px 20px
                margin-top: 2px
                margin-right: 24px
                margin-left: -3px
            &:hover
                background: $color-button
        &__love
            margin-top: 4px
            width: 19px
            height: 17px
            cursor: pointer
            &--abstract
                margin-top: 8px
.month
    display: flex
    align-items: center
    margin-bottom: 34px
    &__image
        margin-right: 26px
    &-info
        display: flex
        flex-direction: column
        width: 166px
        &__title
            font-family: Roboto
            font-style: normal
            font-weight: 500
            font-size: 22px
            line-height: 32px
            letter-spacing: 0.2px
            margin: 0
            margin-bottom: 15px
        &__price
            font-family: Roboto Condensed
            font-style: normal
            font-weight: bold
            font-size: 20px
            line-height: 24px
            letter-spacing: 0.2px
            color: $color-button
            margin-bottom: 22px
            display: inline-block
            &--top-month
                margin-bottom: 21px
        &__pay
            font-style: normal
            font-weight: bold
            font-size: 16px
            line-height: 22px
            text-align: center
            background: $text-color
            color: $primary
            border-radius: 2000px
            border: none
            padding: 7px 20px
            width: 62%
            cursor: pointer
            &--top-month
                margin-left: 1px
                width: 61%
            &:hover
                background: $color-button
    &__book
        width: 119px
        height: 177px
        border-radius: 5.96628px
.top
    &__month
        &-last
            margin-bottom: 26px
        &-line
            width: 312px
            height: 1px
            background-color: #ECEEF2
        &-button
            font-family: Roboto Condensed
            font-style: normal
            font-weight: bold
            font-size: 16px
            line-height: 20px
            text-align: center
            letter-spacing: 0.2px
            margin-top: 23px
            margin-bottom: 2px
            color: $color-button
            text-decoration: none
    &__title
        font-family: Roboto Condensed
        font-style: normal
        font-weight: bold
        font-size: 32px
        line-height: 40px
        letter-spacing: 0.2px
        margin-bottom: 30px
        margin-top: 0
    &-wrapper
        display: flex
        flex-direction: column
        padding: 23px 24px 24px 24px
        background: #f7f8f9
        border-radius: 8px
.recommendations
    &-blocks
        display: flex
        justify-content: space-between
.iconHeartInactive
    filter: invert(26%) sepia(72%) saturate(6113%) hue-rotate(352deg) brightness(94%) contrast(131%)
